* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  

  
  margin: 0;
  background-color: black;
  color: white;
  font-family: 'Press Start 2P', cursive;
  border: 5px solid greenyellow;
}
header {
  text-align: center;
  font-size: 25px;
  padding: 20px;
}
main {
  display: flex;

  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.startScreen {
  width: 80%;
  height: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 0.8;
  /* border: 5px solid greenyellow; */
  
}
.gameScreen {
  width: 80%;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.gameOver {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scoreboard {
  height: 90vh;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
  
  margin: 20px;
}

.game {
  height: 90vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  /* border: 5px solid greenyellow; */
  margin: 20px;
}
.grid {
  display: flex;
  flex-direction: row;
  border: 5px solid grey;
  width: 80%;
  max-width: 500px;
  height: 500px;


  flex-wrap: wrap;
}

.cell {
  width: 6.66%;
  height: 6.66%;
  /* border: 1px solid green; */
}
.ship {
  background-image: url('ship_new.png');
  background-size: cover;
}
.alien {
  background-image: url('saucer2b.ico');
  background-size: cover;
}
.explosion {
  background-image: url('untitled.png');
  background-size: cover;
}

.bomb {
  background-image: url('alien_bomb.png');
  background-size: cover;
}
.bullet {
  background-image: url('new_nullet.png');
  background-size: cover;
}
.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
p {
  padding: 10px;
  font-size: 15px;
}
.gameOver {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
button {
  margin: 10px;
  height: 50px;
  width: 150px;
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
}
li {
  margin: 10px;
  
}
input {
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
  color: white;
  background-color: black;
  border: 10px greenyellow;
}
.nextWave {
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  align-items: center;
  color: greenyellow;
  font-size: 40px;
  border: 5px greenyellow;
  
}
.countdowntimer {
  font-size: 40px;
}

@media only screen and (max-width: 600px) {
  header {
    font-size: 18px;
  }
  main {
    font-size: 15px;
  }
.grid {
  width: 90%;
  height: 400px;
}
.alien {
  background-size: contain;
}
}